*{
  margin: 0;
  padding: 0;
}
html {
  height:100%;
}
body {
  margin:0;
  width: 90%;
}

.header {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  background-color: rgb(238, 238, 238);
  margin: 15px;
  border-style: double;
  border-width: 5px;
}

.who {
  background-color:rgb(238, 238, 238);
  border-style: double;
  border-width: 5px;
  margin: 15px;
  font-family: sans-serif;
}
.gif1 img{
  max-width: 75%;
  max-height: 75%;
}

.gif2 img{
  max-width: 75%;
  max-height: 75%;
}

.headertext {
  text-align: center;
  font-family: sans-serif;
}

.battle {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  margin: 15px;
}

.batbtn{
  position: relative;
  width: 100%
}

.btn1 {
  width: 100%;
  height: 100%;
  margin: 5px;
}

.btn1 img{
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hoverbattext{
  transition: .5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  font-family: sans-serif;
  background-color: #ff1b1c;
}

.hoverbattext p{
  color: white;
}

.btn1:hover img{
  opacity: 0.3;
}

.batbtn:hover .hoverbattext{
  opacity: 1;
}

.battext{
  border-style: double;
  border-color: #000000;
  border-width: 5px;
  background-color: rgb(238, 238, 238);
  font-family: sans-serif;
}

.detective{
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  margin: 15px;
}

.detbtn{
  position: relative;
  width: 100%;
}

.btn2 {
  width: 85%;
  height: 85%;
  margin: 5px;
}

.btn2 img{
  width: 85%;
  height: 85%;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hoverdettext{
  transition: .5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  font-family: sans-serif;
  background-color: #ff1b1c;
}

.hoverdettext p{
  color: white;
}

.btn2:hover img{
  opacity: 0.3;
}

.detbtn:hover .hoverdettext{
  opacity: 1;
}

.dettext{
  border-style: double;
  border-color: #000000;
  border-width: 5px;
  background-color: rgb(238, 238, 238);
  font-family: sans-serif;
}

.bg {
  animation:slide 15s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #e19720 50%, #fad61d 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:15s;
}

.bg3 {
  animation-duration:15s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}